[submodule "deps/zig-classgen"]
	path = deps/zig-classgen
	url = https://github.com/mlugg/zig-classgen
[submodule "deps/zig-fontmanager"]
	path = deps/zig-fontmanager
	url = https://github.com/mlugg/zig-fontmanager
[submodule "deps/zig-fontconfig"]
	path = deps/zig-fontconfig
	url = https://github.com/mlugg/zig-fontconfig
[submodule "deps/mach-freetype"]
	path = deps/mach-freetype
	url = https://github.com/hexops/mach-freetype
